name: cmake_build_and_test

on: 
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        sudo apt-get install g++ cmake libhdf5-dev
    - name: Install OpenMC
      run: |
        cd /opt
        git clone https://github.com/openmc-dev/openmc.git
        cd openmc
        git checkout develop
        mkdir build && cd build
        cmake -DCMAKE_INSTALL_PREFIX=.. ..
        make
        make install
    - name: Install Catch2
      run: |
        git clone https://github.com/catchorg/Catch2
        cd Catch2
        mkdir build && cd build
        cmake ..
        make
        sudo make install
    - name: Build plasma source
      run: |
        mkdir build && cd build
        cmake ..
        make
    - name: Test plasma source
      run: |
        tests
    - name: Check Source Generator
      run: |
        cd build
        ./source_generator -l "source_sampling.so" -i "major_radius=9.06, minor_radius=2.92258, elongation=1.557, \
          triangularity=0.27, shafranov_shift=0.44789, pedestal_radius=2.33806, ion_density_pedestal=1.09e+20, \
          ion_density_separatrix=3e+19, ion_density_origin=1.09e+20, ion_density_alpha=1, ion_temperature_pedestal=6.09, \
          ion_temperature_separatrix=0.1, ion_temperature_origin=45.9, ion_temperature_alpha=8.06, ion_temperature_beta=6, \
          plasma_type=plasma, plasma_id=1, number_of_bins=100, minimum_toroidal_angle=0, maximum_toroidal_angle=360"
